In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
wind_data = pd.read_csv("C:/Users/Acer/Desktop/ML project/Time_series_Forecasting_with_LSTM/Wind_dataset.csv")
wind_data.head(100)

                   Time  WindSpeed      Power
0   2014-10-07 02:00:00   7.567500  29.605953
1   2014-10-07 03:00:00   5.921667  12.383663
2   2014-10-07 04:00:00   6.256667  14.702530
3   2014-10-07 05:00:00   6.238333  15.391273
4   2014-10-07 06:00:00   6.951667  23.176807
..                  ...        ...        ...
95  2014-10-11 06:00:00   2.770000   0.081911
96  2014-10-11 08:00:00   3.795000   1.291635
97  2014-10-11 09:00:00   3.756667   0.978507
98  2014-10-11 10:00:00   3.943333   2.884690
99  2014-10-11 11:00:00   3.768333   2.071516

[100 rows x 3 columns]

In [8]:
wind_data.describe()

         WindSpeed        Power
count  7265.000000  7265.000000
mean      6.842653    30.722012
std       2.090319    26.140030
min       0.658333    -0.007123
25%       5.273333     9.461201
50%       6.668333    22.952010
75%       8.113333    46.109500
max      19.086667    99.433638

In [9]:
# Check for missing values
wind_data.isnull().sum()

Time         0
WindSpeed    0
Power        0
dtype: int64

## Build LSTM model for 'Windspeed'